<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMapper">
<select id="getAllOrders" 
		resultType="admin.OrderModify">
select s.user_id, s.sale_id, s.sale_time,
	d.sale_detail_id, d.item_id,
	d.quantity, d.delivery_state
from sales_tbl s, sales_detail_tbl d 
where s.sale_id = d.sale_id order by s.user_id
</select>
<update id="modifyOrderState" parameterType="admin.OrderModify">
update sales_detail_tbl set delivery_state = #{state} 
	where sale_id = #{sale_id} and sale_detail_id = #{sale_detail_id} 
	and sale_id = (select sale_id from sales_tbl 
				where user_id = #{user_id}	and sale_id = #{sale_id})
</update>
<select id="getSalesInfoById" parameterType="String"
	resultType="admin.SalesInfoById">
	select s.user_id, s.sale_id, s.sale_time,d.sale_detail_id, d.item_id,
		d.quantity, d.delivery_state
	from sales_tbl s, sales_detail_tbl d
	where s.sale_id = d.sale_id	and s.user_id = #{id}
</select>
</mapper>